1. What are data structures and why are they important?
  > Data structures is a way of storing data in a memory block through which we can access manipulate and retrive data. It is important because it enhances performance accesiblity and helps in making algorithms.

2. Explain the difference between mutable and immutable data types with examples.
  >Mutable data types are which can be changed through simple operations during programming like lists while immatable are those which san't be changed ones it is formed like tuples and strings.

3. What are the main differences between lists and tuples in Python?
  >Lists are mutable and tuples are immutable. Elements of tuple have fixed hash value hence cannot be changed.

4. Describe how dictionaries store data?
  > Dictionaries store data in key value pairs so that we can access value through keys in dictionaries.

5. Why might you use a set instead of a list in Python?
  > set has a preference where we want to store unique data in unordered collection and to get random data from the storage at a time.

6. What is a string in Python, and how is it different from a list?
  >string is sequence of charcter stored in a quotations while list is a collection of different data types stored in square brackets.

7. How do tuples ensure data integrity in Python?
  >tuples can't be changed with external efforts  and the elemnts of tuples have a fixed hash values so there memory block also can't be changed thus ensuring data integrity.

8. What is a hash table, and how does it relate to dictionaries in Python?
  >Dictionaries are implemented using hash tables. When you add a key-value pair to a dictionary, Python calculates the hash value of the key, uses it to determine the index in the underlying hash table, and stores the value at that index. When you retrieve a value using its key, Python again calculates the hash value of the key and uses it to quickly locate the value in the hash table.  

9. Can lists contain different data types in Python?
  > yes list can have various data types stored in it like string ,integer, float or boolean.

10. Explain why strings are immutable in Python?
  >The immutable term generally refers to their property of being immune to change or modification after their creation, the same case with the string data type in Python.

11. What advantages do dictionaries offer over lists for certain tasks?
  > Dictionaries offer values of certain key in its format which enables us to access only those values using thes keys.

12. Describe a scenario where using a tuple would be preferable over a list?
  >A tuple is preferable over a list in Python when immutability is required—meaning the data should not change throughout the program's execution. Here’s a scenario where a tuple would be the better choice like i want to store coordinates of  a place.

13. How do sets handle duplicate values in Python?
  > Sets eliminate duplicate elements and nad store  the elements in a unordered collection. Sets store unique elements only and have only one occurence of its values.

14. How does the “in” keyword work differently for lists and dictionaries?
  > In lists "in" checks where the element is in whole list or not while in dictionaries checks the elments in keys of the dictionary.
15. Can you modify the elements of a tuple? Explain why or why not?\
  >No, you cannot modify the elements of a tuple because tuples are immutable in Python. Once a tuple is created, its elements cannot be changed, added, or removed.

16. What is a nested dictionary, and give an example of its use case?
  >A nested dictionary is a dictionary that contains another dictionary as a value. It allows you to store and organize hierarchical or structured data in a key-value format. it can be used for storing student data and the grades also nested in it.

17. Describe the time complexity of accessing elements in a dictionary?
  >dictionaries are implemented as hash tables, which allow for efficient key-based lookups.

18. In what situations are lists preferred over dictionaries?
  >Lists maintain order, while dictionaries use key-value pairs. Lists are optimized for looping, unlike dictionaries.
  
19. Why are dictionaries considered unordered, and how does that affect data retrieval?
  >Python were unordered because they used a hash table for storing key-value pairs but in newer version it maintains the order in which in it is inserted

20. Explain the difference between a list and a dictionary in terms of data retrieval.
  >A list retrieves data by index, supporting slicing and sorting, but searching takes time. A dictionary retrieves data by key, providing lookups via hashing. Lists maintain sequential order, while dictionaries store key-value pairs with fast access but no indexed retrieval.

In [ ]:
#Write a code to create a string with your name and print it?
a="aniket"
print(a)

aniket

In [ ]:
#Write a code to find the length of the string "Hello World"?
a="Hello World"
print(len(a))

11

In [ ]:
#Write a code to slice the first 3 characters from the string "Python Programming"
a="Python Programming"
a[0:3]

'Pyt'

In [ ]:
#Write a code to convert the string "hello" to uppercase?
a="hello"
a.upper()

'HELLO'

In [ ]:
#Write a code to replace the word "apple" with "orange" in the string "I like apple"?
a="I like apple"
a.replace("apple","orange")

'I like orange'

In [ ]:
#Write a code to create a list with numbers 1 to 5 and print it?
a=[1,2,3,4,5]
for i in a:
  print(i)

1
2
3
4
5

In [ ]:
#Write a code to append the number 10 to the list [1, 2, 3, 4]?
a=[1, 2, 3, 4]
a.append(10)
a

[1, 2, 3, 4, 10]

In [ ]:
#Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?
a=[1,2,3,4,5]
a.remove(3)
a

[1, 2, 4, 5]

In [ ]:
#Write a code to access the second element in the list ['a', 'b', 'c', 'd']?
a=['a', 'b', 'c', 'd']
a[1]

'b'

In [ ]:
#Write a code to reverse the list [10, 20, 30, 40, 50].
a=[10,20,30,40,50]
a.reverse()
a

[50, 40, 30, 20, 10]

In [ ]:
from re import T
#Write a code to create a tuple with the elements 100, 200, 300 and print it.
t=(100,200,300)
print(t)

(100, 200, 300)

In [ ]:
#Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
t=('red', 'green', 'blue', 'yellow')
t[-2]

'blue'

In [ ]:
#Write a code to find the minimum number in the tuple (10, 20, 5, 15).
t=(10, 20, 5, 15)
min(t)

5

In [ ]:
#Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
t=('dog', 'cat', 'rabbit')
t.index('cat')

1

In [ ]:
# Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
t=('apple','orange','banana')
'kiwi' in t

False

In [ ]:
#Write a code to create a set with the elements 'a', 'b', 'c' and print it.
s={'a','b','c'}
s

{'a', 'b', 'c'}

In [ ]:
# Write a code to clear all elements from the set {1, 2, 3, 4, 5}..
s={1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [ ]:
# Write a code to remove the element 4 from the set {1, 2, 3, 4}.

s={1, 2, 3, 4}
s.remove(4)
s

{1, 2, 3}

In [ ]:
#Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
s1={1, 2, 3}
s2={3, 4, 5}
s1|s2

{1, 2, 3, 4, 5}

In [ ]:
# Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
s1={1, 2, 3}
s2={2, 3, 4}
s1&s2

{2, 3}

In [ ]:
#Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
d={'name':'aniket','age':24,'city':'bhilwara'}
d

{'name': 'aniket', 'age': 24, 'city': 'bhilwara'}

In [35]:
# Write a code to add a new key-value pair  "country": "USA"  to the dictionary {'name': 'John', 'age': 25}.
d={'name': 'John', 'age': 25}
d1= {"country": "USA"}
d.update(d1)
d

{'name': 'John', 'age': 25, 'country': 'USA'}

In [36]:
#Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
d={'name': 'Alice', 'age': 30}
d['name']

'Alice'

In [42]:
#Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
d={'name': 'Bob', 'age': 22, 'city': 'New York'}
d.pop('age')
d

{'name': 'Bob', 'city': 'New York'}

In [43]:
 #Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
d={'name': 'Alice', 'city': 'Paris'}
'city' in d

True

In [48]:
#Write a code to create a list, a tuple, and a dictionary, and print them all.
l=[1,2,3,3,4]
t=(1,2,2,3,4)
d={'a':1,'b':2,'c':3}
print(l ,type(l))
print(t,type(t))
print(d,type(d))

[1, 2, 3, 3, 4] <class 'list'>
(1, 2, 2, 3, 4) <class 'tuple'>
{'a': 1, 'b': 2, 'c': 3} <class 'dict'>

In [50]:
#Write a code to create a list with strings and print the element at the third index.
l=['hello', 'hi','hey','how']
l[3]

'how'

In [56]:
#Write a code to combine two dictionaries into one and print the result
d={'name': 'Bob', 'age': 22, 'city': 'New York'}
d1={'dob':'01:01:01', 'hey': 'hi'}
d1.update(d)
print(d)
d1

{'name': 'Bob', 'age': 22, 'city': 'New York'}

{'dob': '01:01:01', 'hey': 'hi', 'name': 'Bob', 'age': 22, 'city': 'New York'}

In [58]:
#Write a code to convert a list of strings into a set.
stringlist = ["apple", "banana", "cherry", "apple", "banana"]
stringset = set(stringlist)
print(stringset)

{'cherry', 'banana', 'apple'}